@using Logic
@using Model
@inject NavigationManager NavManager

<h3>Actualizar Especie</h3>

<EditForm Model="objSpecies" OnValidSubmit="UpdateSpecies" FormName="FrmSpecies">
    <div>
        <label>Nombre:</label>
        <InputText @bind-Value="objSpecies.Name" />
    </div>
    <button type="submit">Actualizar</button>
</EditForm>

@if (successMessage != null)
{
    <div>@successMessage</div>
}

@code {
    // Instancia de la especie que se está actualizando
    PastureTypesEntity objSpecies = new PastureTypesEntity();
    
    // Mensaje para indicar el resultado de la operación
    private string? successMessage;
    
    // ID de la especie a actualizar
    [Parameter] public int Id { get; set; }
    
    /*
     * Método que se ejecuta al inicializar el componente.
     * Carga la especie a actualizar.
     */
    protected override async Task OnInitializedAsync()
    {
        // Carga la lista de especies y encuentra la que coincide con el ID
        var speciesList = await Task.Run(() => PastureTypesLog.SpeciesList());
        objSpecies = speciesList.FirstOrDefault(s => s.IdSpecies == Id) ?? new PastureTypesEntity();
    }
    
    /*
     * Método que se ejecuta al enviar el formulario.
     * Actualiza la especie en la base de datos.
     */
    private void UpdateSpecies()
    {
        try
        {
            // Llama al método para actualizar la especie en la capa lógica
            PastureTypesLog.UpdateSpecies(objSpecies);
            // Muestra un mensaje de éxito
            successMessage = $"La especie '{objSpecies?.Name}' se actualizó exitosamente!";
            
            //Redirecciona a la lista
            NavManager.NavigateTo("species/list");
        }
        catch (Exception ex)
        {
            // Muestra el mensaje de error en caso de excepción
            successMessage = $"Error al actualizar la especie: {ex.Message}";
        }
    }
}

