@using Logic
@using Model
@inject NavigationManager NavManager

<h3>Crear Item de Dieta</h3>

<EditForm Model="objDietItem" OnValidSubmit="SaveDietItem" FormName="FrmDietItem">
    <div>
        <label>Dieta:</label>
        <InputSelect @bind-Value="objDietItem.IdDiet">
            <option value="">Seleccione</option>
            @if (diets != null)
            {
                @foreach (var diet in diets)
                {
                    <option value="@diet.IdDiet">@diet.Name</option>
                }
            }
        </InputSelect>
    </div>
    <div>
        <label>Alimento:</label>
        <InputText @bind-Value="objDietItem.Food" />
    </div>
    <div>
        <label>Cantidad Diaria (Kg):</label>
        <InputNumber @bind-Value="objDietItem.DailyAmountKg" />
    </div>
    <button type="submit">Guardar</button>
</EditForm>

@if (successMessage != null)
{
    <div>@successMessage</div>
}

@code {
    // Instancia del item de dieta que se está creando
    DietItemsEntity objDietItem = new DietItemsEntity();
    
    // Mensaje para indicar el resultado de la operación
    private string? successMessage;
    
    // Lista de dietas disponibles para seleccionar
    List<DietsEntity> diets = new List<DietsEntity>();
    
    /*
     * Método que se ejecuta al inicializar el componente.
     * Carga la lista de dietas de forma asíncrona.
     */
    protected override async Task OnInitializedAsync()
    {
        // Carga asíncrona de dietas
        diets = await Task.Run(() => DietsLog.DietList());
    }
    
    /*
     * Método que se ejecuta al enviar el formulario.
     * Guarda el item de dieta en la base de datos.
     */
    private void SaveDietItem()
    {
        try
        {
            // Llama al método para crear un item de dieta en la capa lógica
            DietItemsLog.CreateDietItem(objDietItem);
            // Muestra un mensaje de éxito
            successMessage = $"El item de dieta '{objDietItem?.Food}' se guardó exitosamente!";
            
            // Reinicia el formulario para un nuevo registro
            objDietItem = new DietItemsEntity();
        }
        catch (Exception ex)
        {
            // Muestra el mensaje de error en caso de excepción
            successMessage = $"Error al guardar el item de dieta: {ex.Message}";
        }
    }
}

