@using Logic
@using Model
@inject NavigationManager NavManager

<h3>Actualizar Raza</h3>

<EditForm Model="objBreed" OnValidSubmit="UpdateBreed" FormName="FrmBreed">
    <div>
        <label>Especie:</label>
        <InputSelect @bind-Value="objBreed.IdSpecies">
            <option value="">Seleccione</option>
            @if (species != null)
            {
                @foreach (var s in species)
                {
                    <option value="@s.IdSpecies">@s.Name</option>
                }
            }
        </InputSelect>
    </div>
    <div>
        <label>Nombre:</label>
        <InputText @bind-Value="objBreed.Name" />
    </div>
    <button type="submit">Actualizar</button>
</EditForm>

@if (successMessage != null)
{
    <div>@successMessage</div>
}

@code {
    // Instancia de la raza que se está actualizando
    BreedsEntity objBreed = new BreedsEntity();
    
    // Mensaje para indicar el resultado de la operación
    private string? successMessage;
    
    // Lista de especies disponibles para seleccionar
    List<PastureTypesEntity> species = new List<PastureTypesEntity>();
    
    // ID de la raza a actualizar
    [Parameter] public int Id { get; set; }
    
    /*
     * Método que se ejecuta al inicializar el componente.
     * Carga la raza a actualizar y la lista de especies.
     */
    protected override async Task OnInitializedAsync()
    {
        // Carga asíncrona de razas y especies
        var breedList = await Task.Run(() => BreedsLog.BreedList());
        species = await Task.Run(() => PastureTypesLog.SpeciesList());
        objBreed = breedList.FirstOrDefault(b => b.IdBreed == Id) ?? new BreedsEntity();
    }
    
    /*
     * Método que se ejecuta al enviar el formulario.
     * Actualiza la raza en la base de datos.
     */
    private void UpdateBreed()
    {
        try
        {
            // Llama al método para actualizar la raza en la capa lógica
            BreedsLog.UpdateBreed(objBreed);
            // Muestra un mensaje de éxito
            successMessage = $"La raza '{objBreed?.Name}' se actualizó exitosamente!";
            
            //Redirecciona a la lista
            NavManager.NavigateTo("breed/list");
        }
        catch (Exception ex)
        {
            // Muestra el mensaje de error en caso de excepción
            successMessage = $"Error al actualizar la raza: {ex.Message}";
        }
    }
}

